*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.todo{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./bg.png);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 200px;
}
.list{
    width: 100%;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    &_top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 2px solid black;
        padding-bottom: 5px;
        margin-bottom: 5px;
        div{
            display: flex;
            align-items: center;
        }
    }
    &_bot{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
}
.title_done{
    text-decoration: line-through;
}