*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.active{
  color: red;
}
.red{
  background: red;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
.card{
  background: #123456;
}